.bg
{
	background-color:#fab1a0
}

.font{
	font-family: 'Indie Flower', cursive;
	color: black;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 15px
}

.m {
	margin-left: 40px;
	margin-right: 40px;
}

.ion-social-github{
  font-size: 30px
}

.ion-social-facebook{
font-size: 30px
}

.ion-social-instagram{
font-size: 30px
}

.ion-social-linkedin{
font-size: 30px
}