.body {
    background-color:#85C1E9;
}


.center {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.mt {
  margin-top: 20px;
}

.img {
	border-radius: 50%;
}


span { width:95%; display:inline-block; }
span.align-right { text-align:right; }

.f{
	font-size: 20px
}

.polaroid {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}  