.box{
	width:100%;
	height: 100%;
	background-color: #1abc9c;
	border:3px solid #555;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.img {
    border-radius: 50%;
}

.body {
    background-color:#85C1E9;
}


.mt {
  margin-top: 40px;
}

.m {
	margin-left: 170px;
}